body {
  background-image: url("image/background.jpg");
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}
.logo:hover {
  text-decoration: none;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -10px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.nav-scroller .nav .p-2 {
  margin-right: 100px;
  margin-left: 100px;
}
x .nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}
